:root{
    --single-padding: 16px;
    --horizontal-padding: 16px;
    --text-primary-color: #6E6E6E;
    --text-secundary-color: #000000;
    --text-secundary-color: #000000;
    --admin-nav-bar-height: 0px;
    --theme-header-height: 72px;
    --padding-section: 3rem;
    --top-padding: 1rem;
    --bottom-padding: 2rem;
}
body.logged-in{
    --admin-nav-bar-height: var(--wp-admin--admin-bar--height); 
}